@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/GuestPage.css")" rel="stylesheet" type="text/css" />

<div class="container_guest">
    <h1>jkfhguiehgi</h1>
    <h1>klhfuigheruioh</h1>
    <h1>fhjkghuighe</h1>
    <h1>jkdgguerui</h1>
</div>