.container_guest {
    background-image: url("../Assets//photo-1496307653780-42ee777d4833.jpg");
    //background-size: cover;
    //height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    justify-content:center;
    h1{
        text-align:center;
    }
}
